# Copy this file to `.env` and adjust for your machine.
# https://www.prisma.io/docs/orm/reference/connection-urls

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/taskmanager?schema=public"
